.btn {
	@include title-p();
	padding: 5px 10px;
	text-transform: uppercase;
	cursor: pointer;
}
/////**************raiting-list//////

.rating {
	display: flex;
    justify-content: center;
    flex-flow: row-reverse;
}

.rating--left {
	justify-content: flex-end;
}
.rating input {
    position: absolute;
    left: -999999px;
}

.rating label {
	cursor: pointer;
    display: inline-block;
    font-size: 0;
}

.rating > label:before {
    position: relative;
    font: 12px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #ffd200;
    background-clip: text;
    text-fill-color: transparent;
}


.card__rating {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.card__rating--left {
	justify-content: flex-start;
}
.rating-list {
	display: flex;

}
.rating-list__item {
	font-size: 12px;
	transition: color .3s ease;
	&:hover {
		color: $color-yellow;
	}
}
.rating-list__item.active{
	color: $color-yellow;
}
.breadgrumbs--wrap {
	width: 100%;
	@include row-flex();
}
.breadgrumbs {
	@include col();
	@include size(12);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	margin-bottom: 20px;
	@include sm-block(){
		flex-direction: column;
	}
}
.breadgrumbs-list {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}
.breadgrumbs__title {
	font-size: 20px;
	line-height: 22px;
	color: #222;
	text-transform: uppercase;
	font-family: 'ralewaybold';
	@include sm-block(){
		margin-bottom:20px;
	}
}
.breadgrumbs__items {
	margin: 0 10px;
	position: relative;

	&:after {
		position: absolute;
		content: '/';
		right: -15px;

	}
	&:last-child:after {
		content: '';
	}
}
.breadgrumbs__items:hover:not(:last-child) .breadgrumbs__link{
	color: $color-yellow;
}

.breadgrumbs__link {
	color: #222;
	font-family: 'ralewayregular';
	text-decoration: none;
	transition: color .3s ease;
	text-transform: uppercase;
	font-size: 14px;
	
}
.bottom_top {
	.ui-to-top {
		width: 50px;
		height: 50px;
		text-decoration: none;
		font-size: 24px;
		line-height: 45px;
		background: $color-blue;
		color: $color-white;
		position: fixed;
		// right: 10%;
		bottom: 65px;
		overflow: hidden;
		text-align: center;
		list-style: none;
		z-index: 20;
		border: 1px solid #c3e1bd;
	}
	.ui-to-top:hover {
		color: #c3e1bd;
	}
	.ui-to-top:active {
	 	background: $color-black;
	 	color: $color-white;

	}
}